TF = 100.
NP = 500
a = 1.
b = 0.1
p = 3.0
c = 2.
f = 1.

sheepMass = 0.5
dogMass = 1.5

r = 10.
groupSize = 500
n = 50
visualDist = 20.
tau = 1.
accCap = 1.
noSegments = 6
predation_length_scale = 0.05
eta = 0.
k = 10
sigma = 0.5 #0.5 gives not much higher than +/- pi/4
lam = 0.5

timeStepMethod = 'Adaptive'         #Euler or Adaptive
updateMethod = 'Acceleration'       #Acceleration or Velocity
flocking = 'PredatorPrey'           #PredatorPrey, Vicsek, TopoVicsek, PPPoisson

sheepSheepInteration = 'Off'    #F_ij term
allSheepSeeDog = 'On'           #Can all sheep see dog?
gaussian = 'Off'
normDog = 'Off'                 #Normalise the dogs acceleration
cap = 'Off'                     #Cap the acceleration of the sheep
segments = 'Off'                #Dog only interacts with sheep in the segment in front of it
emergencyCheck = 'Off'
predation = 'On'
predOff = False
noise = 'Off'
dogNeareastNeigh = 'Off'
dogCentrePrey = 'Off'

wallType = 'Square'
wallSize = 1.25

wallLeft = -wallSize
wallRight = wallSize
wallBottom = -wallSize
wallTop = wallSize

snapshotPeriod = TF #units of time
plotPeriod = 0.1 #units of time
plot = 'Off' #On or Off
savePlotPng = 'On' #On or Off
saveDataH5 = 'On'

dog_init = [0., 0.]		    #np.random.rand(2)*3.0+1.
sheep_init = 'Random'		  #Random or Grid or Anular
dog_vel_init = [0.1, 0.1]
sheep_vel_init = 0.
sheep_area = 1.

loadFromFile = 'Off'
fileName = 'data-0000200.h5'

#plotting tweaks
showSheepDogCanSee = 'Off'
showDogInfluence = 'Off'
segmentColours = 'Off'
